

@import 'style.module.scss';
//flexbox

.wrapper {
  display:grid;
  grid-template-columns: 60% 40%;
  

  .main {
    
    padding: 20px;
    margin-top: 20px;
    width: 725px;
    justify-self: end;
    
    h1 {
      font-weight: 100%;
    
    }
 
    
   
    
    
  }
  .sidebar {
    padding: 20px;
    margin-top: 20px;
    width: 725px;
    
    
  }
    
  }
  