
//flexbox

.mid-container {
  

    ul {
    margin-top: 20px;
    padding: 0;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      
    

      li {
        flex-grow: 1;
        &:first-child {
          background: sandybrown;
          padding: 10px;
          width:auto;
        }
        &:nth-child(2){
          max-width: 345px;
          padding: 10px;
          //flex-grow:2;
          
        }
        &:nth-child(3){
          max-width: 345px;
          padding: 10px;
          //flex-grow:2;
          
        }
          &:nth-child(4){
            max-width: 345px;
          padding: 10px;
         // flex-grow:2;
        }
        &:last-child {
          background: seagreen;
          padding: 10px;
          width: auto;
        }
      }
    }
    
  }