.container {
   
    display: flex;
    //padding: 1rem;
    
    min-height: 100vh;
    flex-direction: column ;
 
    
 }
 
 .content {
     flex-grow: 1;
     margin: 2rem ;
     
     padding: 1px;
     //min-height: 100vh;
 }